@import 'demo.layout.css';
@import 'demo.typography.css';

// ==========================================================================
// Generals
// ==========================================================================

html {}

  body {
    font-size: 18px;
    font-weight: 300;
  }

hr {
  border: none;
  display: block;
  width: 100%;
  height: 50px;
  margin: 28px 0;
  clear: both;
  background-image: linear-gradient(320deg, #a682f5, #9edbff, #6ad6cc, #99d170, #e9c150);
  background-size: 500% 500%;
  animation: hero-gradient 30s ease infinite;
  @keyframes hero-gradient {
      0%   { background-position: 0%   10% }
      50%  { background-position: 100% 91% }
      100% { background-position: 0%   10% }
  }
}

@media (max-width: 768px) {

  body {
    font-size: 14px;
  }

}

// Helper classes

.clear:before,
.clear:after { content: ""; display: table; }
.clear:after { clear:both;                  }

.txtc { text-align: center; }
.txtl { text-align: left;   }
.txtr { text-align: right;  }

.left  { float: left;  }
.right { float: right; }

.vmargins-lg {
  margin-top: 100px;
  margin-bottom: 100px;
}

.vmargins-md {
  margin-top: 50px;
  margin-bottom: 50px;
}

.vmargins-sm {
  margin-top: 28px;
  margin-bottom: 28px;
}

.rel {
  position: relative;
}

.center-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.lead {
  font-size: 24px;
  font-weight: 100;

  > h1 {
    font-size: 48px;
  }

}

.dsa { margin-right: 1em; }
.dsb { margin-left: 1em;  }

.small {
  font-size: .85em;
}

@media (max-width: 768px) {

  .lead {
    font-size: 18px;
  }

}

// ==========================================================================
// Links
// ==========================================================================

a:link,
a:visited {
  color: #c542ef;
  transition: all .25s ease;
}

a:focus,
a:hover {
  color: #6f43ef;
  text-decoration: none;
}

a:active {}


// ==========================================================================
// Headings
// ==========================================================================

h1, h2 {
  font-size: 36px;
  font-weight: 900;
}

h3 {
  font-size: 36px;
  font-weight: 100;
  margin: 50px 0;
}

.heading {
  font-size: 1em;
  font-weight: 900;
  margin: 1em 0;
}

@media (max-width: 768px) {

  h1, h2, h3 {
    font-size: 30px;
  }

}


// ==========================================================================
// Buttons
// Code modified from Bootstrap
// ==========================================================================

.button {
  display: inline-block;
  padding: 15px 30px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  user-select: none;
}

.button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.button:hover,
.button:focus {
  color: #333333;
  text-decoration: none;
}

.button:active,
.button.active {
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

// Button with a dark overlay

.button-alpha-dark,
.button-alpha-dark:link,
.button-alpha-dark:visited {
  background-color: rgba(0,0,0,.25);
  color: #fff;
}

.button-alpha-dark:focus,
.button-alpha-dark:hover {
  background-color: rgba(0,0,0,.5);
}

// Default button

.button-default,
.button-default:link,
.button-default:visited {
  background: #000;
  color: #fff;
}

.button-default:focus,
.button-default:hover {
  background-color: #343434;
}

// Primary button

.button-primary,
.button-primary:link,
.button-primary:visited {
  background: #7c38f6;
  color: #fff;
}

.button-primary:focus,
.button-primary:hover {
  background-color: #4e239b;
}

// ==========================================================================
// Hero
// ==========================================================================

.hero {
  height: 100vh;
  color: #fff;
  // background-image: linear-gradient(to right bottom, #A682F5 0%, #9EDBFF 100%);
  background-image: linear-gradient(320deg, #a682f5, #9edbff, #6ad6cc, #99d170, #e9c150);
  background-size: 500% 500%;
  animation: hero-gradient 30s ease infinite;
  @keyframes hero-gradient {
      0%   { background-position: 0%   10% }
      50%  { background-position: 100% 91% }
      100% { background-position: 0%   10% }
  }

  a:not(.button):link,
  a:not(.button):visited {
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  a:not(.button):focus,
  a:not(.button):hover {
    border-color: transparent;
    padding-bottom: 2px;
  }

  &:after {
    content: "";
    display: block;
    position: absolute; bottom: 50px; right: 50px;
    width: 121px;
    height: 64px;
    background: url(cta.png) 0 0 no-repeat;
    background-size: 121px;
    height: 64px;
    transition: .5s opacity;
  }

  &.scrolled:after {
    opacity: 0;
  }

}

.hero-info {
  margin-top: 50px;
  font-size: 14px;
  text-align: right;
  height: 22px;
  line-height: 22px;

  .logo-sprawsm:link,
  .logo-sprawsm:visited {
    position: relative;
    top: 4px;
    border: none !important;
  }

}

.promo {
  float: left;
}

.hero-logo {
  margin-bottom: 50px;
}

.hero-title {
  font-size: 36px;
  font-weight: 900;
}

.hero-text {
  font-weight: 100;
  margin-bottom: 50px;
}

.hero-action {
  margin-bottom: 50px;
}

.hero-footer {
  font-size: .75em;
}

@media (max-width: 768px) {

  .hero {
    height: auto;
    padding-bottom: 20px;

    &:after {
      display: none;
    }

  }

  .hero-info {
    text-align: left;
    height: auto;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .promo {
    float: none;
    margin-bottom: 10px;
  }

  .logo-sprawsm {
    display: none;
  }

  .hero .center-v {
    position: static;
    transform: none;
  }

  .hero-logo,
  .hero-text {
    margin-bottom: 0;
  }

  .hero-title {
    font-size: 30px;
  }

  .hero-action {
    text-align: center;
    margin-bottom: 20px;

    .button {
      padding: 20px 40px;
      display: block;
      margin: 20px 0;
    }

  }

  .hero-footer {
    text-align: center;
  }

}

// ==========================================================================
// Prettyfy styles for code
// ==========================================================================

pre.prettyprint {
  padding: 20px !important;
  border: none !important;
  background-color: #f4f4f4;
  font-size: 14px;
  font-family: monospace !important;
}


// ==========================================================================
// Footer
// ==========================================================================

.page-footer {
  font-size: 12px;
  color: #999;
  margin-top: 100px;
  margin-bottom: 100px;
  // border-top: 1px solid #9edbff;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 80px;
    background-image: linear-gradient(320deg, #a682f5, #9edbff, #6ad6cc, #99d170, #e9c150);
    background-size: 500% 500%;
    animation: hero-gradient 30s ease infinite;
    @keyframes hero-gradient {
        0%   { background-position: 0%   10% }
        50%  { background-position: 100% 91% }
        100% { background-position: 0%   10% }
    }
  }

.icons {
  font-size: 24px;

  a:link,
  a:visited {
    color: #ccc;
  }

  a:focus,
  a:hover {
    color: #c542ef;
  }

}

}

// ==========================================================================
// Modules
// ==========================================================================

.box {
  border: 2px solid #c4f4e4;
  border-radius: 2px;
  padding: 7px 28px;
}
